.ele__view-overflow-wrapper {
  overflow: hidden;
  position: relative;
}

.ele__view-interior-wrapper {
  padding: 5px;
  transition-property: padding;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: white;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.frame-zoom {
  padding: 25px;
}

.h-33 {
  height: 33.333333%;
}

.split-text-top {
  background: #FFFFFF;
  background: -webkit-linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  background: -moz-linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  background: linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
