/* body {
  height: 100%;
}

.section__home-landing {
  background-color: rgb(0, 0, 0);
  color: white;
}

.typing-effect-input {
  border-left: 2px solid #dcdcdc;
  padding-bottom: 10px;
  padding-left: 20px;
}

.section__home-ribbon-typing {
  padding: 30px 0px;
  background-color: grey;
  height: 1000px;
} */

body {
  overflow: hidden;
}

.body-wrapper {
  padding: 15px;
  transition-property: padding;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: white;
}

.frame-zoom {
  padding: 50px;
}

.h-33 {
  height: 33.333333%;
}

.split-text-top {
  background: #FFFFFF;
  background: -webkit-linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  background: -moz-linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  background: linear-gradient(to top, #FFFFFF 50%, #2E3786 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-transition {
  position: absolute;
  bottom: 100%;
  left: 55px;
  z-index: 1;
  width: calc(100% - 110px);
  height: 105%;
  background: white;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 50% 0 0;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.bg__name-wrapper {
  position: relative;
  z-index: 0;
  background-color: black;
  height: 100%;
  width: 100%;
}
.bg__name-wrapper > .bg__name-container {
  padding: 0px 20px;
}
.bg__name-container h4 {
  font-size: 10rem;
}